{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_head %}

{% endblock extra_head %}

{% block content %}
    {% block subtitlePage %}
        <h2>{% trans "Change Password" %}</h2>
    {% endblock subtitlePage %}
    <div class="row">                        
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                
                {{ form.oldpassword }}
                {{form.oldpassword.errors}}
            </div>
            <div class="row">
                
                {{ form.password1 }}
                {{form.password1.errors}}
            </div>
            <div class="row">
                
                {{ form.password2 }}
                {{form.password2.errors}}
            </div> 
            
            <button class="btn" type="submit" name="action">{% trans "Change Password" %}</button>                            
        </form>                        
    </div>
    <br>
    <div class="row">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
    <div class="row">
        <a class="btn" href="{% url 'account_login' %}">Login</a>
    </div>
    
{% endblock %}


